<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          <div class="header-logo">
              <preload-image style="padding-bottom: 57.1527%;" [ratio]="{w:100, h:100}" src="./assets/images/OFFERS.png" alt="Offers"></preload-image>
            </div>
        </ion-title>
    

    </ion-navbar>
</ion-header>

<ion-content class="notifications-content">
  <ion-item-group  *ngFor="let promo of beer.Promotions">
    <ion-item-divider class="notifications-divider">{{promo.Store}}</ion-item-divider>
    <ion-item class="notification-item" *ngFor="let promoStore of promo.Promotions">
      <ion-avatar item-left>
        <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="promoStore.Photo"></preload-image>
      </ion-avatar>
      <h2 class="item-title">${{promoStore.Price}}.00</h2>
      <p class="item-description">{{promoStore.Description}}</p>
      <ion-note class="item-time" item-right><a [href]="promoStore.Link">Show</a></ion-note>
    </ion-item>
  </ion-item-group>
</ion-content>
