<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <div class="header-logo">
                <preload-image style="padding-bottom: 57.1527%;" [ratio]="{w:100, h:100}" src="./assets/images/COMPARE.png" alt="Offers"></preload-image>
              </div>
          </ion-title>
      </ion-navbar>
  </ion-header>

<ion-content class="list-big-content">
  <div class="list-big">
      <ion-item-group  *ngFor="let branProduct of beer.BrandProducts">
          <ion-item-divider class="notifications-divider">{{branProduct.Brand}}</ion-item-divider>

          <ion-list>
              <button class="list-item" ion-item *ngFor="let prod of branProduct.Products">
                <ion-row no-padding class="content-row">
                  <ion-col no-padding width-33 class="item-avatar">
                    <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="pro.Min.Photo"></preload-image>
                    <p class="item-description" rows="1">{{prod.Min.Description}}</p>
                  </ion-col>
                  <ion-col no-padding width-33 class="item-content">
                    <h3 class="item-title">{{prod.Min.Price}}</h3>
                    <p class="item-description" rows="1">{{item.Min.Store}}</p>
                  </ion-col>
                  <ion-col no-padding width-33 class="item-content">
                      <h3 class="item-title">{{prod.Max.Price}}</h3>
                      <p class="item-description" rows="1">{{item.Max.Store}}</p>
                  </ion-col>
                </ion-row>
              </button>
            </ion-list>
            
        </ion-item-group>
      
      </div>

</ion-content>

