<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <div class="header-logo">
                <preload-image style="padding-bottom: 57.1527%;" [ratio]="{w:100, h:100}" src="./assets/images/COMPARE.png" alt="Offers"></preload-image>
              </div>
          </ion-title>
      </ion-navbar>
  </ion-header>

<ion-content class="list-big-content">
    <div class="list-big">
      <ion-item-group  *ngFor="let branProduct of beer.BrandProducts">
        <ion-item-divider class="notifications-divider">{{branProduct.Brand}}</ion-item-divider>
        <ion-list>
            <button class="list-item" ion-item *ngFor="let prod of branProduct.Products">
                <ion-row no-padding class="content-row">
                    <ion-col no-padding width-33 class="item-avatar" *ngIf="prod.Min">
                        <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="prod.Min.Photo"></preload-image>
                        <p class="item-description" rows="1">{{prod.Min.Description}}</p>
                    </ion-col>
                    <ion-col no-padding width-33 class="item-content" *ngIf="prod.Min">
                        <p class="item-title price">
                            <a href="#" onclick="window.open('{{prod.Min.Link}}', '_system', 'location=yes'); return false;"> ${{prod.Min.Price}}.00</a>
                        </p>
                        <p class="" rows="1">{{prod.Min.Store}}</p>
                        <p class="item-title price" *ngIf="prod.Max && prod.Max.Price > (prod.Min.Price + 5) ">
                            <img src="./assets/images/listing/offer-bullet-icon.png" style="height: 25px; width: 25px;" />
                        </p>
                    </ion-col>
                    <ion-col no-padding width-33 class="item-content" *ngIf="prod.Max">
                        <p class="item-title price">
                            <a [href]="prod.Max.Link" target="_system">${{prod.Max.Price}}.00</a>
                        </p>
                        <p class="" rows="1">{{prod.Max.Store}}</p>
                        <p class="item-title price" *ngIf="prod.Max && prod.Max.Price > (prod.Min.Price + 5) ">
                            <span  style="height: 25px; width: 25px;">
                                &nbsp;
                            </span>
                        </p>
                    </ion-col>
                </ion-row>
            </button>
        </ion-list>
      </ion-item-group>
    </div>
</ion-content>

